body {
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(74, 74, 142);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  gap: 30px;
}

.title {
  margin: 0;
  color: rgb(206, 206, 231);
  font-size: 50px;
}

.formBlock {
  display: flex;
  flex-direction: column;
  gap: 46px;
  background-color: #98a0b8;
  color: aliceblue;
  padding: 55px 45px;
  border-radius: 8px;
  width: 340px;
  box-sizing: border-box;
}

.inputBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
label {
  width: 90px;
  font-weight: 600;
}

input {
  flex: 1;
  background-color: #add8e6;
  border: none;
  padding: 5px 8px;
}

.errorMessage {
  position: absolute;
  bottom: -36px;
  left: 90px;
  font-size: 13px;
  color: #fb0303;
  opacity: 0;
  transform: translateY(4px);
  transition: all 0.25s ease;
  pointer-events: none;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.btn {
  background-color: rgb(52, 54, 127);
  color: aliceblue;
  padding: 10px;
  cursor: pointer;
}
