body {
  font-family: sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(74, 74, 142);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  gap: 30px;
}
.formBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px 50px;
  margin-left: 30px;
  margin-right: 30px;
  gap: 50px;
  background-color: #98a0b8;
  color: aliceblue;
}
.inputBlock {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.title {
  margin: 0;
  color: aliceblue;
}
.btn {
  background-color: rgb(52, 54, 127);
  color: aliceblue;
  padding: 10px;
}
input {
  background-color: #add8e6;
  border: none;
}
.errorMessage {
  position: absolute;
  bottom: 50px; /* отступ под инпутом */
  left: 110px;
  font-size: 15px;
  color: #ff4040;
  opacity: 0;
  transform: translateY(5px);
  transition: all 0.2s ease;
}

/* Когда ошибка активна */
.show {
  opacity: 1;
  transform: translateY(0);
}
